.containerPortfolio{
    padding: 100px;
    
}

.cardStyle{
   border-radius: 0%;
    width:30em;
    background-color: transparent;
    border-style: none;
    
    
}

.card-title{

    color: #78A083;
}
.card-img:hover{
    filter: none;
}


.link{
    text-decoration: none;
}


.card-img{
    filter: grayscale(1);
}


