.containerAbout{
  margin-top: 1em;
}


.containerAbout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

@media (min-width: 999px) {
  .aboutMe {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 50px; /* Adjust this value to control the distance from the top */
    height: fit-content; /* Ensure the height adjusts to the content */
  }
}

@media (max-width: 991.98px) {
  .aboutMe {
    position: static; /* Disable sticky on screens smaller than large */
  }
}


.sideContainer {
  margin-left: auto; /* Ensure the side container aligns to the right */
  width: 100%; /* Adjust as necessary for your layout */
}

.offerContainer{
  padding-top: 100px;
}

.containerMe{
  padding: 100px 0;
  height: fit-content;
}
.infoMe{
  position: fixed;
}

.offerText{
  color: aliceblue;
}

.sideContainer{
padding-top: 50px;
}

.AboutText{  
    font-size: 16px;
    cursor: default;
}

.text-color-primary{
  color: #78A083;
}
.text-color-secondary{
  color: rgba(175, 175, 177, 0.781);
}


.card {
  margin-top: 50px;
 background-color: rgba(240, 248, 255, 0);
 border-style: none;
 
}


.fadeInUp{
  animation:fadeInUp 1s ease backwards;
}
@keyframes fadeInUp{
  0%{transform:translate(0px, 100px); opacity: 0;}
  100%{transform:translate(0px, 0); opacity: 1;}
}

.text-highlight{
  color: #78A083;
}

.text-highlight:hover{
  text-decoration: underline;
}