
.text-white a{
    color: #ffffff;
}

.a:hover{
    color: #00A97F;
}

.link-design {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
   
}

.disable-link {
    pointer-events: none;
  }

.link-design:hover{
    color: #00A97F;
}

.background-dark{
    background-color: #35374B;
}

.border-big a{
    border-width: 50px;
}

